
WordPress/~$rvidores Locales.docx
WordPress/~WRL3685.tmp
Documentaciones/WordPress/~$rvidores Locales.docx
Documentaciones/WordPress/~WRL3685.tmp
Documentaciones/~$CTURACION.docx
Documentaciones/~WRL3749.tmp
Documentaciones/DevTools/~WRL0005.tmp
Documentaciones/DevTools/~$vTools.docx
ico/
Bootcamp de programación web.pdf
Lexpin-Logo.png
Lexpin-Logo-Transparente.png


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*